# PandaScore
PANDASCORE_API_KEY=your_api_key_here
PANDASCORE_BASE_URL=https://api.pandascore.co

# Snowflake
SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=ESPORTS
SNOWFLAKE_SCHEMA_RAW=RAW
SNOWFLAKE_SCHEMA_ANALYTICS=ANALYTICS
SNOWFLAKE_ROLE=ACCOUNTADMIN

# Airflow
AIRFLOW_UID=50000

# dbt
DBT_PROFILES_DIR=/opt/airflow/dbt

# App
LOG_LEVEL=INFO
ENV=dev